[Desktop Entry]
Name=Hedge Mod Manager
Exec=/app/bin/HedgeModManager.UI %u
Type=Application
Icon=io.github.hedge_dev.hedgemodmanager
Categories=Game;
Comment=Configure mods for various Hedgehog Engine games
Keywords=hedgehog;mod;loader;manager;sonic
MimeType=x-scheme-handler/hedgemm;x-scheme-handler/hedgemmswa;x-scheme-handler/hedgemmgens;x-scheme-handler/hedgemmlw;x-scheme-handler/hedgemmforces;x-scheme-handler/hedgemmtenpex;x-scheme-handler/hedgemmmusashi;x-scheme-handler/hedgemmrainbow;x-scheme-handler/hedgemmhite;x-scheme-handler/hedgemmrangers;x-scheme-handler/hedgemmmillersonic;x-scheme-handler/hedgemmmillershadow